
<main class="main" [ngStyle]="{overFlow: modalVisible ? 'hidden': 'unset'}">


  <div class="masonry">
    <div class="masonry-item" *ngFor="let photo of photos">
      <div *ngIf="photo.totalLikes" class="likesPill">
        👍 {{ photo.totalLikes }}
      </div>
      <img (click)="openImage(photo)" [src]="photo.thumbnailLink" [alt]="photo.name || 'Image'" />
    </div>
  </div>


</main>

<div *ngIf="modalVisible">
  <app-modal (dismissModal)="modalVisible = false" (onFileSelected)="onFileSelected($event)"></app-modal>
</div>

<div *ngIf="!modalVisible" class="FAB" (click)="modalVisible = true">
  <div class="FAB___content">
    <h4 class="FAB___content___title">¡Queremos más fotos!</h4>
    <ng-lottie width="100px" class="FAB___content___img" height="100px" [options]="{path: '/assets/lottie/photo.json'}" />
  </div>
</div>

<div *ngIf="isModalOpen" class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="close-div" (click)="closeModal()">
       ✖
    </div>
    <img [src]="currentImage.thumbnailLink" [alt]="currentImage.name || 'Image'" />
    <div class="like-button" (click)="toggleLike(currentImage)">
      👍 <span class="like-count">{{ currentImage.totalLikes }}</span>
    </div>
  </div>
</div>

<router-outlet />
