
<div *ngIf="modalVisible">
  <app-modal (dismissModal)="modalVisible = false" (onFileSelected)="onFileSelected($event)"></app-modal>
</div>
<main class="main">
  
<div class="gallery">
    <div *ngFor="let photo of photos" class="photo">
      <img [src]="photo.thumbnailLink" [alt]="photo.name" />
    </div>
  </div>
</main>

<div *ngIf="!modalVisible" class="FAB" (click)="modalVisible = true">
  <div class="FAB___content">
    <h4 class="FAB___content___title">¡Queremos más fotos!</h4>
    <ng-lottie width="100px" height="100px" [options]="{path: '/assets/lottie/photo.json'}" />
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
